# Project Specific
dist/

# Node
node_modules/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Webstorm
.idea

# TypeScript
*.tsbuildinfo

# Prettier/Editor
.prettiercache/